@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --black: #19191a;
    --link: #0080ff;
    --lime-green: #60bf60;
    --grey: "#eef0f2"


  }

  body {
    color: var(--black);
  }
}

@layer utilities {
  .toggle-burger {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:rotate-[720deg];
  }
}

@layer components {
  .title-slider {
    background-image: linear-gradient(174deg, #ff2001 5%, white 41%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 900;
    line-height: 88px;
  }
}
